@charset "UTF-8";
/* _style.scss */
/* _core.scss */
/* placeholders */
.icon {
  display: inline-block;
  vertical-align: middle;
}

a {
  color: #2b2b2b;
}
a:hover {
  color: #001cb0;
  text-decoration: none;
}

/* Mixins*/
/* base styles*/
html {
  height: 100%;
}

body {
  text-size-adjust: none;
}

img {
  vertical-align: bottom;
  border: 0;
  max-width: 100%;
}

/* helping adds*/
.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden;
}

.juster {
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.vfix {
  height: 100%;
  width: 0px;
  display: inline-block;
  vertical-align: middle;
}

.zHiddenBlock {
  position: absolute;
  left: -99999px;
  top: -99999px;
}

/* wraps styling*/
.container-fluid {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 998px;
}

/* /wraps styling*/
/* layout */
/* header layout */
.tMenu.navbar {
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  min-height: 36px;
}
.tMenu.navbar .navbar-nav li {
  margin: 15px 5px;
}
.tMenu.navbar .navbar-nav li a {
  padding: 0;
}
.tMenu.navbar .navbar-nav li:hover a, .tMenu.navbar .navbar-nav li.active a {
  background: transparent;
  color: #d42907;
}
.tMenu.navbar .navbar-toggle {
  margin: 0;
}

/* /header layout */
/* footer layout */
/* /footer layout */
/* /layout */
/* _typo.scss */
.mainheading, .ctext h1, .subheading, .ctext h2, .thirdheading, .ctext h3, .fourheading, .ctext h4, .fiveheading, .ctext h5 {
  font-weight: normal;
  margin-bottom: 1em;
  color: #242424;
}

a {
  border: 0;
}
a:hover {
  color: #001cb0;
  text-decoration: none;
}

.mainheading, .ctext h1 {
  font-size: 0.875em;
  line-height: 1.7em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.9em;
  letter-spacing: -0.01em;
}

.subheading, .ctext h2 {
  font-weight: 600;
  font-size: 0.875em;
  line-height: 1.7em;
}

.bTitle {
  color: #000;
  font-size: 0.750em;
  margin-bottom: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.ctext p {
  margin: 0 0 1.8em 0;
  line-height: 1.786em;
  font-size: 0.875em;
  letter-spacing: 0.0179em;
}
.ctext p:last-child {
  margin-bottom: 0;
}
.ctext ul {
  margin: 0em 0 1.8em 0px;
}
.ctext ul:last-child {
  margin-bottom: 0;
}
.ctext ul li {
  position: relative;
  line-height: 1.80em;
  font-size: 0.875em;
  letter-spacing: 0.0179em;
  margin: 0 0 1.8em 15px;
}
.ctext ul li:before {
  content: '—';
  position: absolute;
  left: -15px;
  top: 0;
  color: #242424;
}
.ctext blockquote {
  position: relative;
  text-transform: uppercase;
  margin: 0 0 1.5em 0;
  padding-left: 2.2em;
  font-size: 1.2em;
  line-height: 1.6em;
  letter-spacing: 0.1111em;
}
.ctext blockquote:after {
  content: '';
  position: absolute;
  left: 0;
  top: 9px;
  bottom: 9px;
  width: 4px;
  background-color: #edf2f5;
}
.ctext table {
  border-collapse: collapse;
}

/* _icons.scss */
/*commonBlocks.scss*/
.topBg {
  height: 164px;
  margin-top: -105px;
}
.topBg img {
  min-width: 100%;
  max-height: 125px;
  vertical-align: bottom;
}

.navbar-toggle .icon-bar {
  background: #000;
}

/*
.preloader{
	height:50px;
	width:50px;
	margin-bottom:5px;
	display:inline-block;
	&.active{
		 -webkit-animation: preloader 1.5s infinite linear;
	    -moz-animation: preloader 1.5s infinite linear;
	    -ms-animation: preloader 1.5s infinite linear;
	    -o-animation: preloader 1.5s infinite linear;
	    animation: preloader 1.5s infinite linear;
	}
	
}



@-webkit-keyframes preloader {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes preloader {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes preloader {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes preloader {
    to { -o-transform: rotate(360deg); }
}

@keyframes preloader {
    to { transform: rotate(360deg); }
}
*/
/*@media (max-width: 991px){
	.header{
		
	}
}
*/
