
/*commonBlocks.scss*/

.topBg{
	height: 164px;
	margin-top: -105px;
	img{
		min-width: 100%;
		max-height: 125px;
		vertical-align: bottom;
	}
}
.navbar-toggle .icon-bar{
	background: #000;
}

/*
.preloader{
	height:50px;
	width:50px;
	margin-bottom:5px;
	display:inline-block;
	&.active{
		 -webkit-animation: preloader 1.5s infinite linear;
	    -moz-animation: preloader 1.5s infinite linear;
	    -ms-animation: preloader 1.5s infinite linear;
	    -o-animation: preloader 1.5s infinite linear;
	    animation: preloader 1.5s infinite linear;
	}
	
}



@-webkit-keyframes preloader {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes preloader {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes preloader {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes preloader {
    to { -o-transform: rotate(360deg); }
}

@keyframes preloader {
    to { transform: rotate(360deg); }
}
*/



