@function em($sizePx, $size100:14) {
	@if not unitless($sizePx) {
	  $sizePx: strip-units($sizePx);
	}
	@if not unitless($size100) {
	  $size100: strip-units($size100);
	}
	@return ($sizePx / $size100) * 1em;
}

/* _core.scss */

$baseColor : #2b2b2b; // base site text color, links
$baseColor_hover : #001cb0; //link hover
$ctextColor : #242424; 
$titleSize : 1.2em;


/* placeholders */
%defaultMargin {
	margin-bottom: 50px;
}

%inline-middle {
	display: inline-block;
	vertical-align: middle;
}

%borderBox {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

%last {
	&:last-child {margin:0;}
}

%link {
	color: $baseColor;
	&:hover {color: $baseColor_hover; text-decoration: none;}
}


%cfix:after{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display: block;content: '';}

%unselectable {
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

%pie{
	behavior:url(../css/pie.php);
}


/* Mixins*/  

@mixin transition($delay:200, $property:all , $function:linear) {
	-webkit-transition: $property #{$delay}ms $function;
	-moz-transition: $property #{$delay}ms $function;
	-ms-transition: $property #{$delay}ms $function;
	-o-transition: $property #{$delay}ms $function;
	transition: $property #{$delay}ms $function;
}

@mixin placeholder($color) {
	::-webkit-input-placeholder {color:$color;}
	:-moz-placeholder {color:$color;}
	::-moz-placeholder {color:$color;}
	:-ms-input-placeholder {color:$color;}
}

@mixin underlineLink($color,$style:dotted){
	border-bottom: 1px $style #{$color};
	&:hover{
		border-color:transparent;
		text-decoration: none;
	}
}

/* base styles*/
html{height:100%;}
body{text-size-adjust: none;}
img{vertical-align:bottom;border:0;max-width:100%;}


/* helping adds*/
.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}

.zHiddenBlock{position:absolute;left:-99999px;top:-99999px;}

//.block:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* wraps styling*/
.container-fluid{padding:0 15px;margin:0 auto;max-width:998px;}
/* /wraps styling*/

/* layout */

/* header layout */

.tMenu.navbar{
	border:1px solid #cccccc;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
	min-height:36px;
	.navbar-nav{
		li{
			margin: 15px 5px;
			a{
			padding: 0;
			}
			&:hover,&.active{
				a{
					background: transparent;
					color:#d42907;
				}
				
			}
		}
	}
	.navbar-toggle{
		margin: 0;
	}
}
/* /header layout */

/* footer layout */


/* /footer layout */

/* /layout */


	



	
	
