
/* _icons.scss */

@mixin icons($background, $width, $height) {
	background: url('../images/#{$background}.png') no-repeat left top;
	width: $width; 
	height: $height;
}


@mixin arrow($color, $direction:left, $width:7px, $weight: 3px, $angle: 45deg ) {
	display:inline-block;
	width:$width;
	height:$width;
	line-height:$width;
	border-top:$weight solid $color;
	border-right:$weight solid $color;

	@if $direction == 'right' {
		$angle : 45deg;
	} 
		@else if $direction == 'left' {
				$angle : -135deg;
			}	
				@else if $direction == 'up' {
					$angle : -45deg;
				}
					@else if $direction == 'down' {
						$angle : 135deg;
					}

	-ms-transform:rotate($angle);
	-moz-transform:rotate($angle);
	-webkit-transform:rotate($angle);
	transform:rotate($angle);
}



.icon {
	@extend %inline-middle;
	//&.icon_demo{@include icons(icon_demo,41px,35px)};
}
