
/* _typo.scss */

%heading {font-weight:normal;margin-bottom:1em;color:$ctextColor;}



a{
	@extend %link;
	border:0;
	&:hover{color:$baseColor_hover;text-decoration: none;}
}


.mainheading,.ctext h1{
	@extend %heading;
	font-size: 0.875em;
	line-height: 1.7em;
	text-transform:uppercase;
	font-weight: bold;
	margin-bottom: 1.9em;
	letter-spacing: -0.01em;
}
.subheading,.ctext h2{
	@extend %heading;
	font-weight:600;
	font-size: 0.875em;
	line-height: 1.7em;
}
.thirdheading,.ctext h3{
	@extend %heading;
}
.fourheading,.ctext h4{
	@extend %heading;
}
.fiveheading,.ctext h5{
	@extend %heading;
}

.bTitle{
	color:#000;
	font-size:0.750em;
	margin-bottom:1.2em;
	font-weight:bold;
	text-transform:uppercase;
}


.ctext {
	p {margin:0 0 1.8em 0;
		line-height: 1.786em;
		font-size: 0.875em;
		letter-spacing: 0.0179em;

		&:last-child{margin-bottom:0;}
	}

	ul{margin:0em 0 1.8em 0px;
		&:last-child{margin-bottom:0;}
		li{
			position:relative;
			line-height: 1.80em;
			font-size:0.875em;
			letter-spacing: 0.0179em;
			margin: 0 0 1.8em 15px;
			&:before{content:'—';position:absolute;left:-15px; top:0; color:$ctextColor;}
		}
	}
	blockquote{
		position: relative;
		text-transform: uppercase;
		margin: 0 0 1.5em 0;
		padding-left:2.2em;
		font-size: 1.2em;
		line-height: 1.6em;
		letter-spacing: 0.1111em;
		&:after{content:'';position:absolute;left:0;top:9px;bottom:9px;width:4px;background-color:#edf2f5;}
	}
	
	table{border-collapse:collapse;}
}
